<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Sandustfree's LCD Screen-Cleaning Fun-Fest!</h1>
    </div>
    <div id="warning">
      <h2>Before proceeding with this guide, make absolutely certain you've read the links on the navigation menu at the top of the page. These include the <a ng-href="#/assumptions">assumptions</a> this guide makes, the <a ng-href="#/mandatory-supplies">supplies you need</a>, the <a ng-href="#/optional-supplies">supplies that would come in handy</a>, and the biggest <a ng-href="#/avoid">things to avoid<a/> before and during this process.</h2>
    </div>
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <ol class="steps">
          <li ng-repeat="step in steps | filter:query | orderBy:'number'">
            <h2><a href="#/steps/{{step.id}}">{{step.name}}</a></h2>
            <p>{{step.snippet}}</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
